.footer{
    background: #033579;
    color: #FFF;
    padding: 3em;
    text-align: center;
    margin-top: 5%;
    width: 100%;
}
.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 1em;
}

.social_list li:hover{
    color: #146b97;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right{
    margin-top: 2em;
}

.copy_right span{
    font-weight: bold;
    color: #146b97;
}
